body {
  display: flex;
  justify-content: center;
  background-color: #222831;
}
#root {
  display: grid;
  place-items: center;
}
.todo {
  margin: 10px;
  height: 50px;
  display: flex;
}
.todoInp {
  height: 50px;
  width: 320px;
  font-size: 28px;
}
select,
.clearBtn,
.addBtn {
  height: 56px;
  font-size: 32px;
  background-color: brown;
  color: white;
}
.selectNav{
  font-size: 24px;
}
.selectNav,
.removeBtn{
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.listBtn,
.clearBtn{
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}


.list {
  min-width: 400px;
  display: grid;
  place-items: center;
  margin: 5px;
}

.listBtn {
  height: 50px;
  min-width: 320px;
  font-size: 32px;
}

.removeBtn {
  height: 50px;
  width: 50px;
  font-size: 32px;
  background-color: brown;
  color: white;
}

.text {
  transition: 0.4s;
  text-decoration-line: line-through;
}