body {
  display: flex;
  justify-content: center;
  background-color: #222831;
}
#root {
  display: grid;
  place-items: center;
}
.todo {
  margin: 10px;
  height: 50px;
  width: 646px;
  display: flex;
  flex-wrap: wrap;
}
.todoInp {
  height: 50px;
  width: 320px;
  font-size: 28px;
}
.selectNav,
.clearBtn,
.addBtn {
  height: 56px;
  font-size: 32px;
  background-color: brown;
  color: white;
}
.selectNav {
  font-size: 24px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.clearBtn {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.list {
  min-width: 400px;
  display: grid;
  place-items: center;
  margin: 60px;
}

.listBtn {
  max-height: 50px;
  min-width: 320px;
  font-size: 32px;
  text-align: center;
}
.completedBtn,
.removeBtn {
  height: 50px;
  width: 50px;
  font-size: 32px;
  background-color: brown;
  color: white;
}
.removeBtn {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.completedBtn {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.text {
  transition: 0.4s;
  text-decoration-line: line-through;
}
.listElment {
  display: flex;
  margin: 2px;
}
